body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: burlywood;
  text-align: center;
}

a {
  color: darkgreen;
}

ul {
  list-style: none;
  text-align: center;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: red;
}